/*:root {
    --main-color: rgb(252,179,252);
    --main-accent: rgb(252,252,179);
    --main-gradientb: rgba(0,0,0,1);
    --main-gradient: rgba(179,252,252,0.3);
    --main-text: rgb(52, 13, 76);
    --box-bg: rgb(179,252,252);
    --score-text: #fd96fd;
}
*/

:root {
    --main-color: rgb(255,192,203);
    --main-accent: rgb(252,252,179);
    --main-gradientb: rgba(0,0,0,1);
    --main-gradient: rgba(59, 59, 3, 0.5);
    --main-text: rgba(52, 13, 76,0.8);
    --box-bg: rgb(242, 233, 233);
    --score-text:rgba(52, 13, 76,0.8);
}

* { 
    padding: 0; 
    margin: 0; 
    font-family: 'Titillium Web', sans-serif;
}

.wrapper {
    padding: 20px;
    width: 430px;
    background-color: var(--main-color);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px 100px 100px 100px;
    grid-auto-flow: row;
  }

.box {
    color: var(--main-text);
    background-color: var(--box-bg);
    border-radius: 5px;
    font-size: 230%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.left {
    transform: translateX(100%) 2s;
    transform: rotate(-36deg);
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%) translateY(-50%);
    font-size: 230%;
    background: rgba(255,192,203,0.8); 
    color: white;
}

.btn:hover {
    color: white;
    background: transparent;
    /*
    transition: transform 1s ease-in-out; 
    transform: scale(1.5);
    transform-origin: right;
    */
}

.overlay {
    position: absolute;
    display: none;
    width: 470px;
    height: 610px;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, var(--main-gradientb), var(--main-gradient));
}

.scores {
    padding: 20px;
    width: 430px;
    background: linear-gradient(to bottom, var(--main-color), var(--main-accent));
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: 100px;
    grid-auto-flow: row;
}

.sbox {
    background: linear-gradient(to bottom, var(--box-bg), var(--main-accent));
    color: var(--score-text);
    border-radius: 5px;
    padding: 20px;
    font-size: 130%;
    font-style: center;
}

@keyframes moveLeft { from { margin-left: -20%; } to { margin-left: 100%; }  }